* {
  margin: 0;
  padding: 0;
}

nav {
  line-height: 50px;
  background: grey;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  font-family: verdana;
}

a {
  text-decoration: none;
  color: white;
  text-align: center;
}

a:hover:not(:last-of-type) {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.227);
  transition: 0.5s;
}

a:last-of-type {
  display: none;
  font-size: 30px;
  transition: transform 0.3s;
}

.selected:not(:last-of-type) {
  background: rgba(0, 0, 0, 0.227);
  transition: 0.5s;
}

.rotateZ {
  transform: rotateZ(-90deg);
}

.block {
  display: block;
}

@media (max-width: 700px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  a {
    display: none;
  }

  a:last-of-type {
    order: -1;
    display: block;
    align-self: flex-end;
  }
}
